<%= form_for(@nhl) do |f| %>
  <% if @nhl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nhl.errors.count, "error") %> prohibited this nhl from being saved:</h2>

      <ul>
      <% @nhl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
